[submodule "ice_engine/ice_engine"]
	path = ice_engine/ice_engine
	url = https://github.com/icebreakersentertainment/ice_engine.git
[submodule "recastnavigation/recastnavigation"]
	path = recastnavigation/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
